<% include partials/header %>





<div class="wrktTbl">
    <h1 class="tblHdr">Twój ostatni trening: </h1>
    

  <table class="lastWrkt">
   
    <thead>
      <th  class="text-left">Data</th>
      <th  class="text-left">Rodzaj treningu</th>
      <th  class="text-left">Dzien Treningowy</th>
      <th  class="text-left">Nazwa Ćwiczenia</th>
      <th  class="text-left">Numer Serii</th>
      <th  class="text-left">Ilość Powtórzeń</th>
      <th  class="text-left">Ciężar</th>
  </thead>
  <tbody class="table-hover">
      <% result.forEach(function(column){ %>
    <tr>  
      <td  class="text-left"><%= column["Data"] %></td>
      <td  class="text-left"><%= column["RodzajTreningu"] %></td>
      <td  class="text-left"><%= column["DzienTreningowy"] %></td>
      <td  class="text-left"><%= column["NazwaCwiczenia"] %></td>
      <td  class="text-left"><%= column["NumerSerii"] %></td>
      <td  class="text-left"><%= column["IloscPowtorzen"] %></td>
      <td  class="text-left"><%= column["Ciezar"] %></td>
    </tr>
    <% }) %> 
  </tbody>
  </table>
</div>

<p>Dodaj nowy trening:
  <form action="/addWrkt" method="GET">
    
    <select name="WrktName" id="WrktID" onchange="this.form.submit()">
      <option hidden disabled selected value> -- Wybierz... -- </option>
        <% result2.forEach(function(select){ %>
        <option value='<%= select["ID"] %>''><%= select["DTYPE"] %></option>
        <% }) %> 
       
  
  </form>
<!--
  </select>
  <select name="DzienTreningowy" id="">
    <option hidden disabled selected value> -- Wybierz... -- </option>
    <option><%= %></option>
  </select>
  <select name="NazwaCwiczenia" id="">
    <option hidden disabled selected value> -- Wybierz... -- </option>
    <option><%= %></option>
  </select>
  <input type="number" name="NumerSerii" placeholder="Numer Serii" min="1" max="10">
  <input type="number" name="IloscPowtorzen" placeholder="Ilość Powtórzeń" min="1" max="100">
  <input type="number" name="Ciezar" placeholder="Ciężar" min="1" max="1000" step="0.25">
  <input type="submit" value="Dodaj">
-->
</p>    
<% include partials/footer %>
         
  