<% include partials/header %>

<% if(typeof result === 'undefined' || result === null){ %>
    <div class='container'>
        <h2 class="tblHdr">Wybierz trening, który chcesz edytować:</h2>
        <h3 class="tblHdr">Brak zapisanych treningów!</h3>
    </div>

<%}else{%>

    <div class='container'>
        <h3 class='tblHdr'>Wybierz trening, który chcesz edytować:</h3>
        <div class='listContainer'>
            <ul>
                <% result.forEach(function(plan){ %>
                <li class='result item' planId='<%= plan.planId %>' createDate='<%= plan.createDate %>'><span class='selectedRecord'><%= plan.createDate %> | Plan: <%= plan.planName %> | Dzień Treningowy: <%= plan.day %></span><button class='delete' name='wrkt' page='wrkt/edit'>X</button> </li> 
                <% }) %> 
            </ul>  
        </div>  
    </div>  
<%};%>
<% include partials/footer %>
         
  