<% include partials/header %>


  <form action="" method=""></form>

  <div class="selectWrkt">
    <p>Edytuj trening:</p>  

        <select disabled name="WrktName" id="WrktID" wrktID="<%= wLog._id %>">
            <option hidden disabled selected value><%= wLog.wlog['RodzajTreningu'] %></option>
        </select>
        <select name="variant" id="variantID" disabled>
            <option hidden disabled selected value><%= wLog.wlog['DzienTreningowy'] %></option>
        </select>
        <input type='date' id='wrktDate' name='wrktDate' value="<%= wLog.CDate %>" readonly>

  </div>


  <div class="wrktTbl">
    <h1 class="tblHdr" id="saveWrktHdr">Podaj ilość wykonanych serii: </h1>

  <table class="lastWrkt">
  
    <thead>
      <th class="text-left">Ćwiczenie</th>
      <th class="text-left">Ilość serii</th>
  </thead>
  <tbody id='tRows' class="table-hover">
      <% wLog.wlog['Cwiczenia'].forEach(cwiczenie =>{  %>
        <tr class='execRow'>
            <td class='text-left'>
                <div class='execName' name='<%= cwiczenie.Nazwa %>' title='Naciśnij by rozwinąć.' ><%= cwiczenie.Nazwa %></div>
                <input readonly='readonly' hidden name='exec' value='<%= cwiczenie.Nazwa %>'>
            </td> 
            <td class='text-left'> 
                <input class='WrktSeriesOpt' type='number' name='IloscSerii' title='Naciśnij by rozwinąć.' placeholder='0' min='1' max='100' value='<%= cwiczenie.Info.length %>' ></tr>
        
        <tr class='filledUp hidden' >
            
                <td>
                    <% cwiczenie.Info.forEach(info =>{  %>
                    <li>
                        <input class="detailsReps" required="" placeholder="Ilość Powtórzeń" type="Number" step="1" min="1" name="Reps" value ='<%= info.IloscPowtorzen %>'>
                    </li> 
                    <% }); %>  
                </td>
                <td>
                    <% cwiczenie.Info.forEach(info =>{  %>
                    <li>
                        <input class="detailsWeight" required="" placeholder="Ciężar" type="Number" step="0.25" min="1" name="Weight" value ='<%= info.Ciezar %>'>
                    </li> 
                    <% }); %>  
                </td>
            
        </tr>
        
      <% }); %>  
  </tbody>
  </table>
  </div>
  
  <input type='submit'  class='wrktBttn' id='wrktSeriesBttn' value='Zapisz Trening'  onclick='updateWrkt()'>
</form>

  
<% include partials/footer %>
         
  