<% include partials/header %>


  <form class="wrktForm" action="" method="">

  <h2>Edytuj trening:</h2>  

  <div class="selectWrktToSave">
    <div>
        <select class="selectBttn"  disabled name="WrktName" id="WrktID" wrktID="<%= wLog._id %>">
            <option hidden disabled selected value><%= wLog.wlog['RodzajTreningu'] %></option>
        </select>
        <select class="selectBttn"  name="variant" id="variantID" disabled>
            <option hidden disabled selected value><%= wLog.wlog['DzienTreningowy'] %></option>
        </select>
    </div>    
        <input type='date' id='wrktDate' name='wrktDate' value="<%= wLog.CDate %>" readonly>
  </div>


  <div class="wrktTbl">
    <!-- <h2 class="tblHdr" id="saveWrktHdr">Podaj ilość wykonanych serii: </h2> -->
    <hr>

  <table class="lastWrkt">
  
    <thead>
      <th class="text-left">Ćwiczenie</th>
      <th class="text-left">Ilość serii</th>
  </thead>
  <tbody id='tRows' class="table-hover">
      <% wLog.wlog['Cwiczenia'].forEach(cwiczenie =>{  %>
        <tr class='execRow'>
            <td data-label="Nazwa Ćwiczenia" class='text-left'>
                <div class='execName' name='<%= cwiczenie.Nazwa %>' title='Naciśnij by rozwinąć.' ><%= cwiczenie.Nazwa %></div>
                <input readonly='readonly' hidden name='exec' value='<%= cwiczenie.Nazwa %>'>
            </td> 
            <td data-label="Ilość Serii" class='text-left'> 
                <input class='WrktIDopt WrktSeriesOpt' type='number' name='IloscSerii' title='Naciśnij by rozwinąć.' placeholder='0' min='1' max='100' value='<%= cwiczenie.Info.length %>' ></tr>
        
        <tr class='filledUp hidden' >
            
                <td data-label="Ilość Powtórzeń">
                    <% cwiczenie.Info.forEach(info =>{  %>
                    <li>
                        <input class="WrktIDopt detailsReps" required="" placeholder="Ilość Powtórzeń" type="Number" step="1" min="1" name="Reps" value ='<%= info.IloscPowtorzen %>'>
                    </li> 
                    <% }); %>  
                </td>
                <td data-label="Ciężar">
                    <% cwiczenie.Info.forEach(info =>{  %>
                    <li>
                        <input class="WrktIDopt detailsWeight" required="" placeholder="Ciężar" type="Number" step="0.25" min="1" name="Weight" value ='<%= info.Ciezar %>'>
                    </li> 
                    <% }); %>  
                </td>
            
        </tr>
        
      <% }); %>  
  </tbody>
  </table>
  </div>

  <div class='rowBttns'>
    <input type='submit'  class='wrktBttn button' id='wrktSeriesBttn' value='Zapisz Trening'  onclick='updateWrkt()'>
</div>
</form>

  
<% include partials/footer %>
         
  