<% include partials/header %>


  <form class="wrktForm" action="" method="">

  <h2>Edytuj trening:</h2>  

  <div class="selectWrktToSave">
    <% result.forEach(field =>{  %>
    <div>
        <select class="selectBttn"  disabled name="WrktName" id="WrktID" wrktID="<%= field.planId %>">
            <option hidden disabled selected value><%= field.planName %></option>
        </select>
        <select class="selectBttn"  name="variant" id="variantID" disabled>
            <option hidden disabled selected value><%= field.day %></option>
        </select>
    </div>    
        <input type='date' id='wrktDate' name='wrktDate' value="<%= field.createDate %>" readonly>
    <% }); %> 
  </div>


  <div class="wrktTbl">
   
    <hr>

  <table class="lastWrkt">
  
    <thead>
      <th class="text-left">Ćwiczenie</th>
      <th class="text-left">Ilość serii</th>
  </thead>
  <tbody id='tRows' class="table-hover">
      <% result.forEach(field =>{  %>
        <% field.exercises.forEach(exercise =>{  %>
        <tr class='execRow'>
            <td data-label="Nazwa Ćwiczenia" class='text-left'>
                <div class='execName' name='<%= exercise.exerciseName %>' title='Naciśnij by rozwinąć.' ><%= exercise.exerciseName %></div>
                <input readonly='readonly' hidden name='exec' value='<%= exercise.exerciseName %>'>
            </td> 
            <td data-label="Ilość Serii" class='text-left'> 
                <input class='WrktIDopt WrktSeriesOpt' type='number' name='IloscSerii' title='Naciśnij by rozwinąć.' placeholder='0' min='0' max='100' value='<%= exercise.exerciseLogList.length %>' ></tr>
        
        <tr class='filledUp hidden' >
        <% let dataRep = ""; %>
              <% if( exercise.exerciseLogList.length > 0 ){dataRep = "Ilość Powtórzeń"}  %>
              <td data-label='<%= dataRep %>'>
                    <% exercise.exerciseLogList.forEach(exerciseLog =>{  %>  
                    <li>
                        <input class="WrktIDopt detailsReps" required="" placeholder="Ilość Powtórzeń" type="Number" step="1" min="1" name="Reps" value ='<%= exerciseLog.numberOfRepetitions %>'>
                    </li> 
                    <% }); %>  
                </td>
         <% let dataWeight = ""; %>
              <% if( exercise.exerciseLogList.length > 0 ){dataWeight = "Ciężar"}  %>        
                <td data-label='<%= dataWeight %>'>
                    <% exercise.exerciseLogList.forEach(exerciseLogList =>{  %>
                    <li>
                        <input class="WrktIDopt detailsWeight" required="" placeholder="Ciężar" type="Number" step="0.25" min="1" name="Weight" value ='<%= exerciseLogList.weight %>'>
                    </li> 
                    <% }); %>  
                </td>
            
        </tr>
        <% }); %>  
      <% }); %>  
  </tbody>
  </table>
  </div>

  <div class='rowBttns'>
    <input type='submit'  class='wrktBttn button' id='wrktSeriesBttn' value='Zapisz Trening'  onclick='updateWrkt()'>
</div>
</form>

  
<% include partials/footer %>
         
  