<% include partials/header %>



<div class="wrktTbl">
        <h1 class="tblHdr">Cześć <%= user %>! Twój ostatni trening: </h1>
        

        <% if(typeof planId === 'undefined' || planId === null){ %>

          <h3 class="tblHdr">Brak zapisanych treningów!</h3>

          </div>
        <%}else{%>

          <h2 class="tblHdr"> Plan: <%=planName%> | Dzień Treningowy: <%=workoutDay %> </h2>
          <h3 class="tblHdr">Data: <%=workoutDate%></h3>
          <hr>
      <table class="lastWrkt">
       
      <thead>
          <th  class="text-left">Nazwa Ćwiczenia</th>
          <th  class="text-left">Powtórzenia</th>
          <th  class="text-left">Ciężar</th>
          <th  class="text-left">Objętość</th>
      </thead>

      <tbody class="table-hover">
          <% exercises.forEach(function(exercise){ %>
        <tr class="">  
          <td data-label="Nazwa Ćwiczenia" class="text-left wrktInfo">
            <%= exercise.exerciseName %>
          </td>
          <td data-label="Ilość Powtórzeń" class="text-left wrktInfo"> 
            <% let repInt = 0; %>
            <% let repVolInt = 0; %>
              <% exercise.exerciseLogList.forEach(function(exerciseLog){ %>
                <% repInt =  parseInt(exerciseLog.numberOfRepetitions) %>
                <% repVolInt = repVolInt + parseInt(exerciseLog.numberOfRepetitions) %>
                  <li class='repList'>
                    <%= repInt %>
                  </li> 
                <%  repInt = ""; %>
              <%  })  %>
                  <li class='repList'>
                    <%= repInt %>
                  </li> 
          </td>
          <td data-label="Ciężar" class="text-left wrktInfo">
            <% let weightInt = 0; %>
            <% exercise.exerciseLogList.forEach(function(exerciseLog){ %>
              <% weightInt =  parseFloat(exerciseLog.weight) %> 
                <li class='repList'> 
                  <%= weightInt %> kg
                </li> 
              <% weightInt = ""; %>
            <%  })  %>
                <li class='repList'> 
                  <% if(weightInt === 0){weightInt= '0 kg'}; %>
                  <%= weightInt %>  
                </li>  
          </td>
          <td data-label="Objętość" class="text-left wrktInfo">
            <% let volumeInt = 0; %>
            <% exercise.exerciseLogList.forEach(function(exerciseLog){ %>
              <% volumeInt = repVolInt * parseFloat(exerciseLog.weight) %> 
            <%  })  %>
                <li class='repList'> 
                  <%= volumeInt %> kg
                </li> 
          </td>
        </tr>
        <% }) %> 
      </tbody>

      </table>
    </div>
    <%};%>

<% include partials/footer %>
         