<% include partials/header %>



<div class="wrktTbl">
        <h1 class="tblHdr">Cześć <%= user %>! Twój ostatni trening: </h1>
        

        <% if(typeof result._id === 'undefined' || result._id === null){ %>

          <h3 class="tblHdr">Brak zapisanych treningów!</h3>

        <%}else{%>

          <h2 class="tblHdr"> Plan: <%=planName%> | Dzień Treningowy: <%=result.wlog["DzienTreningowy"] %> </h2>
          <h3 class="tblHdr">Data: <%=wrktDate%></h3>
          <hr>
      <table class="lastWrkt">
       
      <thead>
          <th  class="text-left">Nazwa Ćwiczenia</th>
          <th  class="text-left">Powtórzenia</th>
          <th  class="text-left">Ciężar</th>
      </thead>

        <tbody class="table-hover">
          <% cwiczenia.forEach(function(cwiczenie){ %>
        <tr class="">  
          <td data-label="Nazwa Ćwiczenia" class="text-left wrktInfo"><%= cwiczenie["Nazwa"] %></td>
          <!-- <td  class="text-left wrktInfo"><%= cwiczenie["Info"].length %></td> -->
          <td data-label="Ilość Powtórzeń" class="text-left wrktInfo">
            <% cwiczenie["Info"].forEach(function(rep){ %>
            <li class='repList'> <%= rep['IloscPowtorzen'] %></li> 
            <%  })  %>
          </td>
          <td data-label="Ciężar" class="text-left wrktInfo">
            <% cwiczenie["Info"].forEach(function(rep){ %>
            <li class='repList'> <%= rep['Ciezar'] %> kg</li> 
            <%  })  %>
        </td>
        </tr>
        <% }) %> 
      </tbody>

      </table>
    </div>
    <%};%>

   
<% include partials/footer %>
         