<% include partials/header %>



<div class="wrktTbl">
        <h1 class="tblHdr">Twój ostatni trening: </h1>
        
        <h2 class="tblHdr"><%=wrktDate%> | Plan: <%=planName%> | Dzień Treningowy: <%=result.wlog["DzienTreningowy"] %> </h2>

      <table class="lastWrkt">
       
        <thead>
          <th  class="text-left">Nazwa Ćwiczenia</th>
          <th  class="text-left">Ilość Serii</th>
          <th  class="text-left">Ilość Powtórzeń</th>
          <th  class="text-left">Objętość</th>
      </thead>

        <tbody class="table-hover">
          <% cwiczenia.forEach(function(cwiczenie){ %>
        <tr class="">  
          <td  class="text-left wrktInfo"><%= cwiczenie["Nazwa"] %></td>
          <td  class="text-left wrktInfo"><%= cwiczenie["Info"].length %></td>
          <td  class="text-left wrktInfo">
              <% cwiczenie["Info"].forEach(function(rep){ %>
              <li class='repList'> <%= rep['IloscPowtorzen'] %></li> 
              <%  })  %>
          </td>
        </tr>
        <% }) %> 
      </tbody>

      </table>
    </div>
    <!--<form action="/addWrkt" method="GET">--->

   
<% include partials/footer %>
         