<% include partials/header %>



<div class="wrktTbl">
        <h1 class="tblHdr">Twój ostatni trening: </h1>
        
        <h2 class="tblHdr"><%= result[0]["Data"].toISOString().substring(0, 10)%> | <%=result[0]["RodzajTreningu"]%> Dzień Treningowy: <%=result[0]["DzienTreningowy"] %> </h2>

      <table class="lastWrkt">
       
        <thead>
          <th  class="text-left">Nazwa Ćwiczenia</th>
          <th  class="text-left">Ilość Serii</th>
          <th  class="text-left">Ilość Powtórzeń</th>
          <th  class="text-left">Objętość</th>
      </thead>
      <tbody class="table-hover">
          <% result.forEach(function(column){ %>
        <tr class="">  
          <td  class="text-left wrktInfo"><%= column["NazwaCwiczenia"] %></td>
          <td  class="text-left wrktInfo"><%= column["IloscSerii"] %></td>
          <td  class="text-left wrktInfo"><%= column["IloscPowtorzen"] %></td>
          <td  class="text-left wrktInfo"><%= column["Objetosc"] %> kg</td>
        </tr>
        <% }) %> 
      </tbody>
      </table>
    </div>
    <!--<form action="/addWrkt" method="GET">--->

   
<% include partials/footer %>
         