<% include partials/header %>



<div class="wrktTbl">
        <h1 class="tblHdr">Twój ostatni trening: </h1>
        
        <h2 class="tblHdr"><%= result[0]["Data"] %> | <%=result[0]["RodzajTreningu"]%> Dzień Treningowy: <%=result[0]["DzienTreningowy"] %> </h2>

      <table class="lastWrkt">
       
        <thead>
          <th  class="text-left">Nazwa Ćwiczenia</th>
          <th  class="text-left">Numer Serii</th>
          <th  class="text-left">Ilość Powtórzeń</th>
          <th  class="text-left">Ciężar</th>
      </thead>
      <tbody class="table-hover">
          <% result.forEach(function(column){ %>
        <tr>  
          <td  class="text-left"><%= column["NazwaCwiczenia"] %></td>
          <td  class="text-left"><%= column["NumerSerii"] %></td>
          <td  class="text-left"><%= column["IloscPowtorzen"] %></td>
          <td  class="text-left"><%= column["Ciezar"] %> kg</td>
        </tr>
        <% }) %> 
      </tbody>
      </table>
    </div>
    <!--<form action="/addWrkt" method="GET">--->


   
<% include partials/footer %>
         