<% include partials/header %>

<div class='container'>
  <div class='listContainer'>
    <h2 class='tblHdr'>Plany Treningowe: </h2>
      <ul>
      <% result.forEach(function(plan){ %>
        <li class='item' id='<%= plan["_id"] %>'> <%= plan["wrktPlan"] %><button class='delete' name='plan' page='plan'>X</button></li>  
      <% }) %> 
      </ul>
  </div>
  <div class='formContainer'>
      <form action='/plan/insrt' method='POST'>
        <div class='rowBttns'>
          <input type='text' name='plan' class="WrktIDopt" placeholder="Dodaj nowy plan..." required pattern=".{3,}">
          <input type="submit" class='button' value="Zatwierdź">
        </div>
      </form>
  </div>
</div>
<br>
<hr>
<div>

        <form class="wrktForm" action='/template/insrt' method='POST' >

          <h2 class='tblHdr'>Zdefiniuj Trening:</h2>
          <div class="selectWrkt">
             <select class="selectBttn" name="WrktName" id="WrktID">
              <option hidden disabled selected value> Wybierz Trening</option>
              <% result.forEach(function(select){ %>
              <option class="WrktIDopt" value='<%= select["_id"] %>'><%= select["wrktPlan"] %></option>
              <% }) %> 
            </select>
            <input class="inputDay" type="number" name="DzienTreningowy" placeholder="Dzień" min="1" max="5" required>
          </div>

          <table class="lastWrkt">
            <thead>
              <th class="text-center">Nazwa Ćwiczenia</th>
            </thead>
            
            <tbody id='tb'>
              
                <td data-label="Nazwa Ćwiczenia" class="text-center">
                  <input type='button' class='button' onclick='addField()' value='+'>
                     <select class="selectBttn" name="Cwiczenie" id="exerciseID">
                            <option hidden disabled selected value> Wybierz Ćwiczenie</option>
                            <% result2.forEach(function(select){ %>
                            <option class="WrktIDopt" value='<%= select["_id"] %>'><%= select["dtype"] %></option>
                            <% }) %> 
                    </select>
                  <input type='button' class='button' onclick='removeField()' value='-'>
               
              </td>
          </table>
      
        <div class='rowBttns'>
          <input class='button' id='wrktAddbttn' type="submit" value="Zapisz Trening">
        </div>  
          
      
      </form>
      
</div>




<% include partials/footer %>